<div class="page-container">
    <div class="heroes-images-container">
        <div class="images-side-container">
            <img class="left-side-image"
                src="../../../assets/home-images/bat-man.avif"
                alt="">

            <img class="left-side-image"
                src="../../../assets/home-images/hulk.jpeg"
                alt="">
        </div>

        <img class="main-image"
            src="../../../assets/home-images/spider-man.avif"
            alt="spider-man">

        <div class="images-side-container">
            <img class="right-side-image"
                src="../../../assets/home-images/iron-man.jpeg"
                alt="">

            <img class="right-side-image"
                src="../../../assets/home-images/captian-america.jpeg"
                alt="">
        </div>
    </div>
</div>
