<div class="page-container">
    <h1 class="headline">{{loggedUser.name}}, Your <span class="logo-text">HEROES</span></h1>
    <h2 class="sub-headline">Here you can see your heroes and train them</h2>
    <div class="heroes-container">
        <div class="hero-card" *ngFor="let hero of myHeroes, let i = index">
            <img class="hero-image" src="{{hero.imgPath}}" alt="">
            <div><strong>Name:</strong> {{hero.name}}</div>
            <div><strong>Current power:</strong> {{hero.currentPower}}</div>
            <div class="more-details">
                <strong>More details </strong>
                <i (click)="onClickMoreDetailsIcon(i)" class="fa-solid" [ngClass]="heroesIconClass[i]"></i>
            </div>
            <div class="more-details-info" *ngIf="showMoreDetails[i]">
                <strong>Ability:</strong>
                {{hero.ability}}
            </div>
            <div class="more-details-info" *ngIf="showMoreDetails[i]"><strong>Suit colors:</strong> {{hero.suitColors}}
            </div>
       
            <div class="buttons-container">
                <button (click)="onClickTrainButton(hero, i)" [ngClass]="hitTrainnigLimitSignClass[i]">Train</button>
                <button (click)="onClickDiscardButton(hero, i)">Discard</button>
            </div>

            <div *ngIf="hitTrainnigLimitModalClass[i]" class="training-forbidden-modal-container">
                <div class="training-forbidden-modal">
                    <i (click)="removeNotAllowedModal(i)" class="fa-solid fa-xmark"></i>
                    Hero cannot be trained more than 5 times per day
                </div>
            </div>
        </div>
    </div>
</div>