.page-container {
    min-height: calc(100vh - 6rem);
    font-family: "Sour Gummy", serif;
}

.headline {
    text-align: center;
    padding-top: 2rem;
}

.sub-headline {
    text-align: center;
    padding-top: 0.5rem;
    color: #162d58;
}

.logo-text {
    color: #e23636;
}

.heroes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    padding: 3rem;
    animation: pop 0.9s;
}

.hero-card {
    width: 220px;
    border: 1px solid #e23636;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s linear;
}

.hero-card:hover {
    transform: scale(1.1);
}

.hero-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.hero-card div {
    width: 80%;
    color: #020a1a;
    margin-top: 0.5rem;
}

button {
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
    width: 50%;
    margin-top: 1rem;
    font-family: "Sour Gummy", serif;
    background-color: #e23636;
    color: #020a1a;
    font-size: 1rem;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    background-color: #961b1b;
}

.hero-card .more-details {
    margin-top: 1rem;
    color: #1f345e;
}

.fa-caret-up,
.fa-caret-down {
    position: relative;
    cursor: pointer;
}

.fa-caret-up {
    top: 3px;
}

.fa-caret-down {
    top: 1px;
}

.more-details-info {
    animation: jump 0.3s;
}

@keyframes pop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes jump {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 600px) {
    .headline {
        font-size: 1.5rem;
    }

    .sub-headline {
        width: 85%;
        margin: 0.5rem auto;
        font-size: 1rem;
    }

    .heroes-container {
        padding: 1.5rem;
    }

    .hero-card {
        width: 195px;
    }

    .hero-image {
        width: 100px;
        height: 100px;
    }

    .hero-card div {
        width: 92%;
    }
}