<div class="signup-page-container">
    <div class="modal-container">
        <h1 class="logo">Heroes</h1>
        <h2 class="login-headline">Sign Up</h2>

        <form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
            <div class="form-text-inputs">
                <div class="text-inputs-column">
                    <div class="text-input-container">
                        <label for="name">Username: </label>
                        <input type="text" formControlName="name"
                            [ngClass]="{ 'red-border' : signupForm.get('name').invalid && signupForm.get('name').touched}">
                        <div *ngIf="signupForm.get('name').invalid && signupForm.get('name').touched"
                            class="error-message">error</div>
                    </div>

                    <div class="text-input-container">
                        <label for="email">Email: </label>
                        <input type="email" formControlName="email"
                            [ngClass]="{ 'red-border' : signupForm.get('email').invalid && signupForm.get('email').touched}">
                        <div *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched"
                            class="error-message">error</div>
                    </div>
                </div>

                <div class="text-inputs-column">
                    <div class="text-input-container">
                        <label for="password">Password: </label>
                        <input type="password" formControlName="password"
                            [ngClass]="{ 'red-border' : signupForm.get('password').invalid && signupForm.get('password').touched}">
                        <div *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched"
                            class="error-message">error</div>
                    </div>

                    <div class="text-input-container">
                        <label for="confirmPassword">Repeat Password: </label>
                        <input type="password" formControlName="confirmPassword"
                            [ngClass]="{ 'red-border' : (signupForm.errors?.['notSamePasswords'] || signupForm.get('confirmPassword').invalid) && signupForm.get('confirmPassword').touched}">
                        <div *ngIf="signupForm.get('confirmPassword').touched && (signupForm.get('confirmPassword').invalid || signupForm.errors?.['notSamePasswords'])"
                            class="error-message">error</div>
                    </div>
                </div>
            </div>

            <button type="submit" [disabled]="signupForm.invalid">Register</button>
        </form>

        <div class="login-text">Already have acount? login <a class="login-text-link" routerLink="/login">here</a></div>
    </div>
</div>