<div class="signup-page-container">
    <div class="modal-container">
        <h1 class="logo">Heroes</h1>
        <h2 class="login-headline">Sign Up</h2>

        <form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
            <div class="form-text-inputs">
                <div class="text-inputs-column">
                    <div class="text-input-container">
                        <label for="username">Username: </label>
                        <input type="text" formControlName="username"
                            [ngClass]="{ 'red-border' : signupForm.get('username').invalid && signupForm.get('username').touched}">
                        <div *ngIf="signupForm.get('username').invalid && signupForm.get('username').touched"
                            class="error-message">{{invalidUserNameMessage()}}</div>
                    </div>

                    <div class="text-input-container">
                        <label for="age">Age: </label>
                        <input type="number" formControlName="age"
                            [ngClass]="{ 'red-border' : signupForm.get('age').invalid && signupForm.get('age').touched}">
                        <div *ngIf="signupForm.get('age').invalid && signupForm.get('age').touched"
                            class="error-message">You must enter age</div>
                    </div>

                    <div class="text-input-container">
                        <label for="email">Email: </label>
                        <input type="email" formControlName="email"
                            [ngClass]="{ 'red-border' : signupForm.get('email').invalid && signupForm.get('email').touched}">
                        <div *ngIf="signupForm.get('email').invalid && signupForm.get('email').touched"
                            class="error-message">{{invalidEmailMessage()}}</div>
                    </div>
                </div>

                <div class="text-inputs-column">
                    <div class="text-input-container">
                        <label for="password">Password: </label>
                        <input type="password" formControlName="password"
                            [ngClass]="{ 'red-border' : signupForm.get('password').invalid && signupForm.get('password').touched}">
                        <div *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched"
                            class="error-message">{{invalidPasswordMessage()}}</div>
                    </div>

                    <div class="text-input-container">
                        <label for="passwordRepeat">Repeat Password: </label>
                        <input type="password" formControlName="passwordRepeat"
                            [ngClass]="{ 'red-border' : (signupForm.errors?.['notSamePasswords'] || signupForm.get('passwordRepeat').invalid) && signupForm.get('passwordRepeat').touched}">
                        <div *ngIf="signupForm.get('passwordRepeat').touched && (signupForm.get('passwordRepeat').invalid || signupForm.errors?.['notSamePasswords'])"
                            class="error-message">{{invalidpasswordRepeatMessage()}}</div>
                    </div>
                </div>
            </div>

            <button type="submit" [disabled]="signupForm.invalid">Register</button>
        </form>

        <div class="login-text">Already have acount? login <a class="login-text-link" routerLink="/login">here</a></div>
    </div>
</div>